/* Home Page CSS */

.title {
	font-size:30px;
	margin:10px;
	font-weight:bold
}

/* em Relatives to font-size ; 0.6em*120px = 72px */
.quote-symbol {
	font-size:120px;
	line-height:0.6em;
	opacity:0.7
}

/* !important Gives The Code Priority To Be Executed */
.extra-info-button {
	color:#000!important;
	background-color:#ffeb3b!important;
	margin:10px;
	border-radius:30px;
}

.extra-info {
	padding:16px;
	margin-top:10px;
	margin-bottom:10px;
	color:#fff!important;
	background-color:#2196F3!important;
	position:relative;
	display:none;
}

.extra-info-font {
	color:white;
	font-size:17px;
}

.close-button {
	color:#fff!important;
	background-color:#f44336!important;
	position:absolute;
	right:0;
	top:0
}